.film-list {
    background: rgba(255, 255, 255, 0.938);

    min-height: 100vh;

    width: 80%;

    margin: 30px auto;
}

.film-item {

    display: flex;
    color: #000000;

    margin-top: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.film-item:nth-child(even) {
    background: rgba(173, 171, 171, 0.301);
}

.film-flex {
    display: flex;
    width: 250px;
    margin-top: 5px;
}

.film-image {
    max-width: 100px;
    min-width: 100px;

    max-height: 100px;
    min-height: 100px;

    object-fit: contain;
}

.film-header {
    font-size: 16px;

    color: #a08214;

    text-decoration: none;
}

.film-header:hover {
    color: #917510;
}

.film-rating {
    padding-top: 20px;
}

.film-length {
    padding-top: 20px;
}