.logo {
    margin-top: 25px;
    text-align: center;
}

.logo-yellow {
    background: #f5c518;
    color: #000000;

    font-size: 30px;
    font-weight: bold;

    padding: 5px 10px;
}

.logo-white {
    background-color: #ffffff;

    font-size: 30px;
    padding: 5px 10px 5px 10px;
}